$colors:(primary: #2B2D42, secondary: rgb(50, 55, 63), light: rgb(245, 253, 255), lightblue: #40798C, teal: #70A9A1, active: #df0d3b);
$topnavHeight: 80px;
$topnavPadding: 30px;
$footerHeight: 100px;
$break-mobile: 700px;

@function getColor ($color) {
    @return map-get($colors, $color);
}


* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    line-height: 30px;
}

html,body {
    min-height: 100%;
    min-width: 100%;

    background-color: getColor(primary);
}

//-----------------------Navigation bar----------------------------------
.topnav {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: $topnavHeight; // background-color: getColor(secondary);
    background-color: transparent;

    .active {
        //background-color: getColor(active);
        color: lighten(getColor(active), 20%);
    }

    .icon {
        float: right;
        display: none;
    }

    a {
        float: left;
        display: block;
        text-transform: uppercase;
        text-align: center;
        color: getColor(light);
        text-decoration: none;
        font-size: 17px;
        font-weight: bold;
        line-height: $topnavHeight;
        padding-left: $topnavPadding;
        padding-right: $topnavPadding;

        &:hover:not(#home) {
            color: getColor(active);
            transition: 0.2s ease;
        }
    }
}

@media screen and (max-width: $break-mobile) {
    .icon :hover {
        color: getColor(light);
    }

    .topnav {
        background-color: getColor(secondary);

        .active {
            background-color: getColor(active);
            color: getColor(light);

            &:hover {
                background-color: getColor(light);
            }
        }
    }

    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }

    .topnav.responsive {
        background-color: getColor(secondary);
        height: auto;
        position: fixed;
        display: block;
        overflow: auto;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        margin: 0 auto;
        text-align: center;
    }
}

#brand-logo {
    width: $topnavHeight;
}

//---------------------Landing page---------------------------------
div.landingPage {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../../assets/LandingpageBacground.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 28px;
    color: getColor(light);

    h1,
    .button {
        animation: animate 1s 1;
    }

    @keyframes animate {
        0% {
            transform: scale(0);
        }

        100% {
            transform: scale(1);
        }
    }

    div {
        font-size: 20px;
        position: absolute;
        bottom: 0;
        left: 1;
        margin-bottom: 25px;
        text-align: center;
    }
}

//---------------------Main content---------------------------------
//--------------------Landing page----------------------------------
.container {
    padding: 32px 10px 10px 10px;
    margin: 0px;
    margin: 10px 0px 10px;
    background-color: getColor(light);
    border-radius: 3px;
}

.button {
    text-decoration: none;
    padding: 10px 30px;
    color: getColor(light);
    border: 1px solid getColor(light);
    margin-top: 30px;
    transition: 0.5s ease;

    &:hover {
        background-color: getColor(secondary);
        color: #000;
    }
}

//-----------------------------Info--------------------------------
/* Clear floats */

.container h1 {
    font-size: 50px;
    text-align: center;
}

.row {
    display: flex;
}

.row:after {
    content: "";
    display: table;
    clear: both
}

/* 2/3 column */

.column-66 {
    float: left;
    width: 66.66666%;
    padding: 40px;
    max-width: 1000px;
    color: #232323;
    font-size: 18px;
    line-height: 1.6em;
    font-weight: 400;
}

/* 1/3 column */

.column-33 {
    width: 33.33333%;
    padding: 10px;
    margin-left: auto;
}

.column-66,
.column-33 {
    align-self: center;
    text-align: center;

    h2 {
        margin: 30px;
        letter-spacing: 2px;
    }

    img {
        width: 100%;
        margin-top: 10px;
        object-fit: contain;
    }
}

/* Add responsiveness - make the columns appear on top of each other instead of next to each other on small screens */

@media screen and (max-width: 1000px) {
    .row {
        display: inline;
    }

    .column-66,
    .column-33 {
        padding: 5px;
        width: 100%;
        text-align: center;
    }

    .container {
        padding: 10px;
        margin-top: 5px;
        border-radius: 0px;
    }
}

//------------------Footer------------------------------
.google-maps {
    float: right;
    max-width: 30%;
    overflow: hidden;
}

footer {
    padding: 10px;
    overflow: hidden;
    width: 100%;
    height: auto;
    background-color: getColor(secondary);
    color: getColor(light);

    div {
        float: left;
        height: 100%;
        margin: 10px;

        a {
            display: block;

            img {
                size: 50px;
            }
        }
    }

    .socialMedia * img {
        max-height: 64px;
        margin: 5px;
    }

    a {
        text-decoration: none;
    }
}

@media screen and (max-width: $break-mobile) {
    footer {
        text-align: center;

        div {
            float: none;
        }

        .google-maps {
            display: none;
        }

        .socialMedia * {
            display: inline;
        }
    }
}

//---------------Main page------------------------


// ---------------Projects page -------------------
.containerInfo *:not(.publishDate):not(p) {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.containerInfo {
    
    background-color: getColor(light);
    width: 22%;
    margin: 20px;
    border-radius: 10px;
    display: inline-block;

    .projectImg {
        margin-top: 10px;
        margin-bottom: 10px;
        overflow: auto;
        max-width: 80%;
    }

    .publishDate {
        margin-left: 10px;
        text-align: left;
    }

    h1 {
        margin-top: 30px;
        margin-bottom: 15px;
    }

    p:not(.publishDate) {
        margin: 10px;
        text-align: center;
    }

    button {
        color: white;
        background-color: red;
        border: none;
        width: 150px;
        height: 50px;
        border-radius: 10px;

        &:hover {
            box-shadow: 10px 10px 10px darken($color: red, $amount: 40%);
            transition: 0.2s ease;
        }
    }
}

@media screen and (max-width: 850px) {
    .containerInfo {
        width: 40%;
    }
}

@media screen and (max-width: $break-mobile) {
    .containerInfo {
        width: 90%;
    }
}

.wrapper {
    text-align: center;
}

//------------Order page-----------------
.mobileOrderMenu *{
    display: none;
    min-width: 32% !important;
    height: 10vh;
    text-align: center;
    line-height: 10vh;
    margin: -2px;

}
@media screen and (max-width: 850px) {
    .mobileOrderMenu * {
        display: inline-block;
    }
    .containerInfo#smallOrder, .containerInfo#largeOrder {
        display: none;
    }
    .containerInfo#smallOrder,.containerInfo#mediumOrder,.containerInfo#largeOrder {
        width: 80%;
    }
}

#orderMain {
    background-image: url("../../assets/Order\ bacground.jpg");
    background-position: center;
    background-size: cover;
    height: 82vh;
}

#smallOrder,#smallOrderSelector {
    background-color: rgb(0, 207, 152);
    min-width: 25%;
}
#mediumOrder,#mediumOrderSelector {
    background-color:rgb(51, 102, 255);
    min-width: 25%;
}
#largeOrder,#largeOrderSelector {
    background-color:red;
    min-width: 25%;
}

.activeMobileOrderMenu {
    box-shadow: 11px 10px 5px 0px rgba(0,0,0,0.32);
    position: relative;
    left: -5px;
    top: -5px;
}
#linkWrap {
    display: block;
    a {
        color: white;
    }
}
.containerInfo p {
    font-size: 20px;
    min-height: 150px;
    @media screen and (min-width: 1230px){
        min-height: 100px;
    }
}

.centerInImage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.containerImage {
    position: relative;
    text-align: center;
    font-size: 400%;
    font-weight: bold;
    color: rgb(0, 0, 0);
    -webkit-text-stroke: 1px white;
    img {
        max-width: 80%;
    }
}

.buyNowButton {
    margin: 20px;
    background-color:white !important;
    color: black !important; 
}







