$colors:(primary: #2B2D42, secondary: rgb(50, 55, 63), light: rgb(245, 253, 255), lightblue: #40798C, teal: #70A9A1, active: #df0d3b);
$topnavHeight: 80px;
$topnavPadding: 30px;
$footerHeight: 100px;
$break-mobile: 700px;
@function getColor ($color) {
    @return map-get($colors, $color);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    line-height: 30px;
}

body {
    background-color: getColor(primary);
}

//-----------------------Navigation bar----------------------------------
.topnav {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: $topnavHeight; // background-color: getColor(secondary);
    background-color: transparent;
    .active {
        //background-color: getColor(active);
        color: lighten(getColor(active), 20%);
    }
    .icon {
        float: right;
        display: none;
    }
    a {
        float: left;
        display: block;
        text-transform: uppercase;
        text-align: center;
        color: getColor(light);
        text-decoration: none;
        font-size: 17px;
        font-weight: bold;
        line-height: $topnavHeight;
        padding-left: $topnavPadding;
        padding-right: $topnavPadding;
        &:hover:not(#home) {
            color: getColor(active);
            transition: 0.2s ease;
        }
    }
}

@media screen and (max-width: $break-mobile) {
    .topnav {
        background-color: getColor(secondary);
        .active {
            background-color: getColor(active);
            color: getColor(light);
            &:hover {
                background-color: getColor(light);
            }
        }
    }
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
    .topnav.responsive {
        background-color: getColor(secondary);
        height: auto;
        position: fixed;
        display: block;
        overflow: auto;
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        margin: 0 auto;
        text-align: center;
    }
}

#brand-logo {
    width: $topnavHeight;
}

//---------------------Landing page---------------------------------
div.landingPage {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(/assets/LandingpageBacground.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 28px;
    color: getColor(light);
    h1,
    .button {
        animation: animate 1s 1;
    }
    @keyframes animate {
        0% {
            transform: scale(0);
        }
        100% {
            transform: scale(1);
        }
    }
    div {
        font-size: 20px;
        position: absolute;
        bottom: 0;
        left: 1;
        margin-bottom: 25px;
        text-align: center;
    }
}

//---------------------Main content---------------------------------
//--------------------Landing page----------------------------------
.container {
    padding: 32px 10px 10px 10px;
    margin: 0px;
    margin: 10px 0px 10px;
    background-color: getColor(light);
    border-radius: 3px; //On click enlarge image (TODO)
    // img:active {
    //     position: fixed;
    //     top: 50%;
    //     left: 50%;
    //     max-width: 80%;
    //     max-height: 80%;
    //     /* bring your own prefixes */
    //     transform: translate(-50%, -50%);
    //     transition: 0.2s ease;
    // }
}

.button {
    text-decoration: none;
    padding: 10px 30px;
    color: getColor(light);
    border: 1px solid getColor(light);
    margin-top: 30px;
    transition: 0.5s ease;
    &:hover {
        background-color: getColor(secondary);
        color: #000;
    }
}

//-----------------------------Info--------------------------------
/* Clear floats */

.container h1 {
    font-size: 50px;
    text-align: center;
}

.row {
    display: flex;
}

.row:after {
    content: "";
    display: table;
    clear: both
}

/* 2/3 column */

.column-66 {
    float: left;
    width: 66.66666%;
    padding: 40px;
    max-width: 1000px;
    color: #232323;
    font-size: 18px;
    line-height: 1.6em;
    font-weight: 400;
}

/* 1/3 column */

.column-33 {
    width: 33.33333%;
    padding: 10px;
    margin-left: auto;
}

.column-66,
.column-33 {
    align-self: center;
    text-align: center;
    h2 {
        margin: 30px;
        letter-spacing: 2px;
    }
    img {
        width: 100%;
        margin-top: 10px;
        object-fit: contain;
    }
}

/* Add responsiveness - make the columns appear on top of each other instead of next to each other on small screens */

@media screen and (max-width: 1000px) {
    .row {
        display: inline;
    }
    .column-66,
    .column-33 {
        padding: 5px;
        width: 100%;
        text-align: center;
    }
    .container {
        padding: 10px;
        margin-top: 5px;
        border-radius: 0px;
    }
}

//------------------Footer------------------------------
.google-maps {
    float: right;
    max-width: 30%;
    overflow: auto;
}

footer {
    padding: 10px;
    overflow: hidden;
    width: 100%;
    height: auto;
    background-color: getColor(secondary);
    color: getColor(light);
    div {
        float: left;
        height: 100%;
        margin: 10px;
        a {
            display: block;
            img {
                size: 50px;
            }
        }
    }
    .socialMedia * img {
        max-height: 64px;
        margin: 5px;
    }
    a {
        text-decoration: none;
    }
}

@media screen and (max-width: $break-mobile) {
    footer {
        text-align: center;
        div {
            float: none;
        }
        .google-maps {
            display: none;
        }
        .socialMedia * {
            display: inline;
        }
    }
}