$colors:(primary: #2B2D42,
secondary: #8D99AE,
light: #EDF2F4,
lightblue: #40798C,
teal: #70A9A1,
active: #df0d3b);

$topnavHeight: 80px;
$topnavPadding: 30px;
$break-mobile: 600px;

@function getColor ($color) {
    @return map-get($colors, $color);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: getColor(primary);

}



.active {
    background-color: getColor(active);
}

.topnav {
    overflow: hidden;
    height: $topnavHeight;
    background-color: getColor(secondary);

    .icon {
        float: right;
        display: none;
    }

    a {
        float: left;
        display: block;
        text-transform: uppercase;
        text-align: center;
        color: getColor(light);
        text-decoration: none;
        font-size: 17px;
        font-weight: bold;

        line-height: $topnavHeight;
        padding-left: $topnavPadding;
        padding-right: $topnavPadding;

        &:hover:not(#home) {
            background-color: darken($color: getColor(active), $amount: 15)
        }

    }
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        height: 100%;

        position: relative;
        display: block;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        margin: 0 auto;
        text-align: center;
    }
}


#brand-logo {
    width: 80px;
    padding-left: 20px;
    padding-right: 20px;
}