* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 30px;
}

body {
  background-color: #2B2D42;
}

.topnav {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 80px;
  background-color: transparent;
}

.topnav .active {
  color: #f65c7e;
}

.topnav .icon {
  float: right;
  display: none;
}

.topnav a {
  float: left;
  display: block;
  text-transform: uppercase;
  text-align: center;
  color: #f5fdff;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
  line-height: 80px;
  padding-left: 30px;
  padding-right: 30px;
}

.topnav a:hover:not(#home) {
  color: #df0d3b;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

@media screen and (max-width: 700px) {
  .icon :hover {
    color: #f5fdff;
  }
  .topnav {
    background-color: #32373f;
  }
  .topnav .active {
    background-color: #df0d3b;
    color: #f5fdff;
  }
  .topnav .active:hover {
    background-color: #f5fdff;
  }
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav.responsive {
    background-color: #32373f;
    height: auto;
    position: fixed;
    display: block;
    overflow: auto;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    margin: 0 auto;
    text-align: center;
  }
}

#brand-logo {
  width: 80px;
}

div.landingPage {
  height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url(../../assets/LandingpageBacground.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../../assets/LandingpageBacground.jpg);
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 28px;
  color: #f5fdff;
}

div.landingPage h1,
div.landingPage .button {
  -webkit-animation: animate 1s 1;
          animation: animate 1s 1;
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes animate {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

div.landingPage div {
  font-size: 20px;
  position: absolute;
  bottom: 0;
  left: 1;
  margin-bottom: 25px;
  text-align: center;
}

.container {
  padding: 32px 10px 10px 10px;
  margin: 0px;
  margin: 10px 0px 10px;
  background-color: #f5fdff;
  border-radius: 3px;
}

.button {
  text-decoration: none;
  padding: 10px 30px;
  color: #f5fdff;
  border: 1px solid #f5fdff;
  margin-top: 30px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.button:hover {
  background-color: #32373f;
  color: #000;
}

/* Clear floats */
.container h1 {
  font-size: 50px;
  text-align: center;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* 2/3 column */
.column-66 {
  float: left;
  width: 66.66666%;
  padding: 40px;
  max-width: 1000px;
  color: #232323;
  font-size: 18px;
  line-height: 1.6em;
  font-weight: 400;
}

/* 1/3 column */
.column-33 {
  width: 33.33333%;
  padding: 10px;
  margin-left: auto;
}

.column-66,
.column-33 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
}

.column-66 h2,
.column-33 h2 {
  margin: 30px;
  letter-spacing: 2px;
}

.column-66 img,
.column-33 img {
  width: 100%;
  margin-top: 10px;
  -o-object-fit: contain;
     object-fit: contain;
}

/* Add responsiveness - make the columns appear on top of each other instead of next to each other on small screens */
@media screen and (max-width: 1000px) {
  .row {
    display: inline;
  }
  .column-66,
  .column-33 {
    padding: 5px;
    width: 100%;
    text-align: center;
  }
  .container {
    padding: 10px;
    margin-top: 5px;
    border-radius: 0px;
  }
}

.google-maps {
  float: right;
  max-width: 30%;
  overflow: hidden;
}

footer {
  padding: 10px;
  overflow: hidden;
  width: 100%;
  height: auto;
  background-color: #32373f;
  color: #f5fdff;
}

footer div {
  float: left;
  height: 100%;
  margin: 10px;
}

footer div a {
  display: block;
}

footer div a img {
  size: 50px;
}

footer .socialMedia * img {
  max-height: 64px;
  margin: 5px;
}

footer a {
  text-decoration: none;
}

@media screen and (max-width: 700px) {
  footer {
    text-align: center;
  }
  footer div {
    float: none;
  }
  footer .google-maps {
    display: none;
  }
  footer .socialMedia * {
    display: inline;
  }
}

.container *:not(publishDate) {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container {
  width: 50vh;
  margin: 20px;
  border-radius: 10px;
  display: block;
}

.container .projectImg {
  margin-top: 10px;
  margin-bottom: 10px;
}

.container h1 {
  margin-top: 30px;
  margin-bottom: 15px;
}

.container p {
  margin-top: 10px;
  margin-bottom: 10px;
}

.container button {
  color: white;
  background-color: red;
  border: none;
  width: 150px;
  height: 50px;
  border-radius: 10px;
}

.container button:hover {
  -webkit-box-shadow: 5px 5px 10px black;
          box-shadow: 5px 5px 10px black;
}
/*# sourceMappingURL=main.css.map */